*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
/.kotlin
keystore
local.properties
xcuserdata
desktopApp/diary.db
shared-data/superdiary.preferences_pb
desktopApp/datastore.preferences_pb
shared-ui/datastore.preferences_pb
secrets.properties
